* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/*UTILITIES*/
.big {
  height: 200px;
}

.relative {
  position: relative;
}

/*HEADER*/
header {
  color: white;
  text-align: right;
}
.top-nav {
  background-color: black;
}
/*NAV*/

.fa-search {
  color: black;
}

.accedi {
  border-radius: 40px;
  color: white;
  background-color: #363636;
}
/*HERO*/
.hero {
  background: url(../img/jumbo-bg.png);
  min-height: 700px;
  background-position: 0px 100px;
  background-repeat: no-repeat;
}
.text-box {
  color: white;
  position: absolute;
  top: 400px;
  width: 60%;
}

.text-box h2 {
  padding-bottom: 20px;
}
.buy {
  color: white;
  background-color: #cd3d0f;
  border-radius: 30px;
  padding: 5px 7px;
  border: none;
}
