* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/*UTILITIES*/

.border {
  border: 1px solid black;
}
.gray-color {
  color: gray;
}
.center {
  text-align: center;
}

.relative {
  position: relative;
}
.padding {
  padding: 0 10px;
}

.p-left {
  padding-left: 10%;
}
.m-top-bottom {
  margin: 2%;
}
.buy {
  color: white;
  background-color: #cd3d0f;
  border-radius: 30px;
  padding: 5px 7px;
  border: none;
}

.blue-button {
  color: white;
  background-color: #2d64e6;
  border-radius: 30px;
  padding: 5px 7px;
  border: none;
}
/*HEADER*/
header {
  color: white;
  text-align: right;
}
.top-nav {
  background-color: black;
}

/*NAV*/
.top-nav {
  padding: 0 1%;
}
.fa-search {
  color: black;
}

.accedi {
  border-radius: 40px;
  color: white;
  background-color: #363636;
}
/*HERO*/
.hero {
  background: url(../img/jumbo-bg.png);
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
}
.text-hero {
  color: white;
  position: absolute;
  top: 400px;
  width: 60%;
}
.text-hero img {
  width: 300px;
}

.text-hero h2 {
  padding-bottom: 20px;
}

/*SECTON 1*/
.first-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.first-section .row > div {
  padding: 10px;
}

/*SECTON 2*/
.section-two {
  margin-top: 100px;
}
.section-two h4 {
  font-size: small;
  color: rgb(0, 174, 255);
}
.section-two p {
  padding-top: 20px;
}

/*SECTON 3*/
.section-three img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-three {
  margin-top: 45px;
}

/*SECTON 4
.section-four img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/
/*SECTION 4*/

.box-console {
  width: 200px;
  height: 200px;
}
.box-console img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*HERO*/
.second-hero {
  margin-top: 100px;
  background: url(../img/it-takes-two-hero-banner-desktop.jpg);
  height: 850px;
  background-position: top;
  background-repeat: no-repeat;
}
.text-second-hero {
  color: white;
  position: absolute;
  top: 400px;
  width: 60%;
}
.text-second-hero img {
  width: 300px;
}

.text-second-hero h2 {
  padding-bottom: 20px;
}
