* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/*UTILITIES*/

.border {
  border: 1px solid black;
}
.gray-color {
  color: gray;
}
.center {
  text-align: center;
}

.relative {
  position: relative;
}
.padding {
  padding: 0 10px;
}

.p-left {
  padding-left: 10%;
}
.m-top-bottom {
  margin: 2%;
}
.buy {
  color: white;
  background-color: #cd3d0f;
  border-radius: 30px;
  padding: 5px 7px;
  border: none;
}

.blue-button {
  color: white;
  background-color: #2d64e6;
  border-radius: 30px;
  padding: 5px 7px;
  border: none;
}

.ps-plus-button {
  color: #3a6de4;
  background-color: #d9dadc;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}
.ps-now-button {
  color: black;
  background-color: #d9dadc;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}

/*HEADER*/
header {
  color: white;
  text-align: right;
}
.top-nav {
  background-color: black;
}
.form-inline * {
  padding: 0 10px;
}
/*NAV*/
.top-nav {
  padding: 0 1%;
}
.fa-search {
  color: black;
}

.accedi {
  border-radius: 40px;
  color: white;
  background-color: #363636;
}

/*HERO*/
.hero {
  background: url(../img/jumbo-bg.png);
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
}
.text-hero {
  color: white;
  position: absolute;
  top: 400px;
  width: 60%;
}
.text-hero img {
  width: 300px;
}

.text-hero h2 {
  padding-bottom: 20px;
}

/*SECTON 1*/
.first-section img {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.first-section .row > div {
  padding: 10px;
}

/*SECTON 2*/
.section-two {
  margin-top: 100px;
}
.section-two h4 {
  font-size: small;
  color: rgb(0, 174, 255);
}

/*SECTON 3*/
.section-three img {
  width: 100%;
  object-fit: cover;
}
.section-three {
  margin-top: 45px;
}

/*SECTON 4*/
.section-four img {
  width: 100%;
  object-fit: cover;
}
.fa-trademark {
  font-size: 10px;
  color: gray;
  vertical-align: 2px;
}
.section-four p {
  color: gray;
}
.section-four p:hover {
  color: black;
}

/*HERO*/
.second-hero {
  margin-top: 100px;
  background: url(../img/it-takes-two-hero-banner-desktop.jpg);
  height: 900px;
  background-position: top;
  background-repeat: no-repeat;
}
.text-second-hero {
  color: white;
  position: absolute;
  top: 400px;
  width: 60%;
}
.text-second-hero img {
  width: 300px;
}

.text-second-hero h2 {
  padding-bottom: 20px;
}

/*SECTION FIVE*/
.section-five img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.section-five {
  background-color: #1f1f1f;
  color: white;
}
.section-five .container {
  padding-top: 50px;
}

/*SECTION SIX*/
.section-six {
  padding: 50px 0;
}
.section-six h4 {
  padding-bottom: 20px;
}

/*SECTION SEVEN*/
.section-seven img {
  width: 100%;
  object-fit: cover;
}
.section-seven {
  padding-bottom: 100px;
}
/*SECTION EIGHT*/
.section-eight {
  background-color: #bebcbb;
}
.plus-logo {
  width: 400px;
}
.section-eight p {
  padding: 10px;
}
.section-eight .container {
  padding: 30px;
}
.plus-games {
  width: 100%;
}
/*SECTION 9*/
.section-nine {
  padding: 50px 0;
}
.section-nine h4 {
  padding-bottom: 20px;
}
/*SECTION 10*/
.section-ten img {
  width: 100%;
  object-fit: cover;
}
.section-ten {
  padding: 100px 0;
}
.section-ten .row div {
  padding: 15px;
}
/*SECTION ELEVEN*/
.section-eleven {
  background-color: #161c3b;
  color: white;
}
.section-eleven .container {
  padding: 30px;
}
.section-eleven p {
  padding: 10px;
}
.ps-now-logo {
  width: 400px;
}

.ps-now-games {
  width: 100%;
}
/*SECTION TWELVE*/
.section-twelve img {
  width: 100%;
}
/*SECTION TWELVE*/
.section-twelve h2 {
  padding: 50px;
}
.section-twelve .container {
  padding-bottom: 50px;
}
/*FOOTER*/
footer {
  background-color: #00439c;
}
footer li {
  list-style: none;
}
footer li a {
  color: white;
  text-decoration: none;
}

footer .container {
  padding: 80px;
  color: white;
}
.sie-logo {
  width: 200px;
}

.country-region {
  padding-top: 30px;
}

.section-twelve .row {
  padding: 100px;
}
.info {
  color: white;
}
